@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "S-CoreDream-3Light";
  font-weight: 700;
}
h1 {
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.hide {
  display: none;
}

header {
  padding: 0px 30px;
}
header .visual img {
  width: 100%;
}

header h1 {
  position: absolute;
  left: 50px;
  top: 15px;
  z-index: 30;
}
header > h1 > a > img {
  width: 120px;
}
header > ul {
  position: absolute;
  right: 30px;
  top: 0;
  display: flex;
  width: 100px;
  z-index: 31;
}
header > ul > li {
  flex: 1;
  height: 70px;
  line-height: 70px;
}
header > ul > li > a {
  font-size: 12px;
  font-weight: 400;
}
header #lnb {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0px 232px;
  box-sizing: border-box;
}
header #lnb nav {
  position: relative;
  z-index: 30;
  font-size: 0;
  /* text-align: center; border-bottom: 1px solid rgba(255,255,255,0.5) */
}
header #lnb nav > ul {
  display: inline-block;
  text-align: center;
  overflow: hidden;
  height: 70px;
  overflow: hidden;
}
header #lnb nav:hover > ul {
  overflow: visible;
}
header #lnb nav + div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0px;
  background: #fff;
  z-index: 29px;
  opacity: 0;
  transition: all 0.5s;
  box-sizing: border-box;
  background-clip: content-box;
}
header #lnb nav:hover + div {
  height: 210px;
  opacity: 1;
  box-shadow: 3px 3px 3px rgba(212, 212, 212, 0.397);
}
header #lnb nav > ul > li {
  display: inline-block;
  position: relative;
}
header #lnb nav > ul:hover > li:not(:hover) {
  transition: all 0.3s;
  opacity: 0.3;
}
header #lnb nav > ul > li > a {
  display: block;
  width: 150px;
  height: 69px;
  line-height: 69px;
  font-size: 16px;
}
header #lnb nav > ul ul {
  position: absolute;
  width: 100%;
  height: 130px;
  text-align: center;
  opacity: 0;
  transition: all 0.5s;
}
header #lnb nav:hover > ul ul {
  opacity: 1;
}
header #lnb nav > ul ul li {
  line-height: 35px;
}
header #lnb nav > ul ul a {
  position: relative;
  font-size: 13px;
  transition: all 0.5s;
}
header #lnb nav > ul ul a:hover {
  color: #f39b9a;
}
header #lnb nav > ul ul a:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -7px;
  width: 0;
  height: 2px;
  background: #f39b9a;
  transition: all 0.5s;
}
header #lnb nav > ul ul a:hover:after {
  left: 0;
  width: 100%;
}
